In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df_final_demo = pd.read_csv('../1_data/df_final_demo.txt')
df_final_experiment_clients = pd.read_csv('../1_data/df_final_experiment_clients.txt')
df_final_web_data_pt_1 = pd.read_csv('../1_data/df_final_web_data_pt_1.txt')
df_final_web_data_pt_2 = pd.read_csv('../1_data/df_final_web_data_pt_2.txt')

# Merge web data
df_web = pd.concat([df_final_web_data_pt_1, df_final_web_data_pt_2], ignore_index=True)
df_web["process_step"] = df_web["process_step"].replace('confirm', 'step_4')
df_web["process_step"] = df_web["process_step"].replace('start', 'step_0')
df_web["date_time"] = pd.to_datetime(df_web["date_time"])
df_time = df_web.sort_values(by=['visit_id', 'process_step', 'date_time'])
print(df_time)

#put the name of the steps you wamt to include
steps_required = {'step_0', 'step_1', 'step_2', 'step_3', 'step_4'}
visit_valid = df_time.groupby('visit_id')['process_step'].apply(set).apply(lambda x: steps_required.issubset(x))
df_filtered = df_time[df_time['visit_id'].isin(visit_valid[visit_valid].index)]
print(df_filtered.head())
df_ps_time = pd.DataFrame()
df_ps_time['client_id'] = df_filtered['client_id']
df_ps_time['visit_id'] = df_filtered['visit_id']
df_ps_time['process_step'] = df_filtered['process_step']
df_ps_time['diff_time'] = df_filtered.groupby('visit_id')['date_time'].diff()

#removing all null and negative values
df_ps_time = df_ps_time[df_ps_time['diff_time'] < pd.Timedelta(0)]
print(df_ps_time.head(50))

        client_id             visitor_id                      visit_id  \
108614    3561384   451664975_1722933822  100012776_37918976071_457913
108613    3561384   451664975_1722933822  100012776_37918976071_457913
447951    9056452  306992881_89423906595     1000165_4190026492_760066
447950    9056452  306992881_89423906595     1000165_4190026492_760066
447949    9056452  306992881_89423906595     1000165_4190026492_760066
...           ...                    ...                           ...
539055    7149380  483112224_46340533900  999992932_41666455053_671149
539054    7149380  483112224_46340533900  999992932_41666455053_671149
539072    7149380  483112224_46340533900  999992932_41666455053_671149
539071    7149380  483112224_46340533900  999992932_41666455053_671149
539070    7149380  483112224_46340533900  999992932_41666455053_671149

       process_step           date_time
108614       step_4 2017-04-26 13:22:17
108613       step_4 2017-04-26 13:23:09
447951       step_0 2017-06-04 01:07:29
447950       step_1 2017-06-04 01:07:32
447949       step_2 2017-06-04 01:07:56
...             ...                 ...
539055       step_1 2017-06-06 15:46:24
539054       step_2 2017-06-06 15:47:32
539072       step_3 2017-06-06 16:01:46
539071       step_4 2017-06-06 16:04:08
539070       step_4 2017-06-06 16:05:34

[755405 rows x 5 columns]
        client_id             visitor_id                   visit_id  \
447951    9056452  306992881_89423906595  1000165_4190026492_760066
447950    9056452  306992881_89423906595  1000165_4190026492_760066
447949    9056452  306992881_89423906595  1000165_4190026492_760066
447948    9056452  306992881_89423906595  1000165_4190026492_760066
447947    9056452  306992881_89423906595  1000165_4190026492_760066

       process_step           date_time
447951       step_0 2017-06-04 01:07:29
447950       step_1 2017-06-04 01:07:32
447949       step_2 2017-06-04 01:07:56
447948       step_3 2017-06-04 01:09:13
447947       step_4 2017-06-04 01:09:50
        client_id                      visit_id process_step         diff_time
240561    7338123   100019538_17884295066_43909       step_1 -1 days +23:59:13
240560    7338123   100019538_17884295066_43909       step_2 -1 days +23:59:17
603156    5303781  100034012_10293842356_627828       step_1 -1 days +23:58:36
576926    8413245  100075378_35009209505_135399       step_2 -1 days +23:59:27
246510    5108717  100154767_60541320490_163313       step_1 -1 days +23:53:19
712860    6789374  100175041_74207131497_750935       step_1 -1 days +23:56:27
712859    6789374  100175041_74207131497_750935       step_2 -1 days +23:56:37
712858    6789374  100175041_74207131497_750935       step_3 -1 days +23:58:29
298773    2029202  100215152_57349471249_380824       step_3 -1 days +23:59:58
17109     9341024  100217156_67053490690_383412       step_2 -1 days +23:53:34
17108     9341024  100217156_67053490690_383412       step_3 -1 days +23:54:01
557361    1848434   10024342_90161571674_624251       step_1 -1 days +23:52:36
217243    1562128  100258507_71262593004_214494       step_1 -1 days +23:52:28
601550    9303476    10032049_71218516078_25226       step_1 -1 days +23:51:52
542193    8529521    100405724_2138177231_62262       step_1 -1 days +23:57:31
470563    9523769  100444082_80791555135_896130       step_1 -1 days +23:59:14
70712     6235268  100481857_71511233596_788753       step_3 -1 days +23:52:53
648435    4300596  100512922_84941901144_255055       step_1 -1 days +23:59:21
355903    1545935   10056419_61656665964_803695       step_1 -1 days +23:56:15
345333    5256253  100637511_56874687610_230645       step_1 -1 days +23:50:26
123093    6829143   10065836_96534697180_389104       step_1 -1 days +23:53:00
123092    6829143   10065836_96534697180_389104       step_2 -1 days +23:53:56
123091    6829143   10065836_96534697180_389104       step_3 -1 days +23:54:46
688738    1049182  100720388_28528122421_798314       step_1 -1 days +23:55:40
674723     916369  100787296_75463077257_149957       step_3 -1 days +23:59:17
513081    8737837  100952948_77681780860_858472       step_1 -1 days +23:50:38
513076    8737837  100952948_77681780860_858472       step_2 -1 days +23:56:38
513075    8737837  100952948_77681780860_858472       step_3 -1 days +23:57:16
513074    8737837  100952948_77681780860_858472       step_4 -1 days +23:57:14
387620    4411687   10107698_28667970917_707553       step_1 -1 days +23:51:07
387619    4411687   10107698_28667970917_707553       step_2 -1 days +23:50:26
387618    4411687   10107698_28667970917_707553       step_3 -1 days +23:54:45
61142     6762377   10111418_59591388284_939024       step_1 -1 days +23:57:19
61141     6762377   10111418_59591388284_939024       step_2 -1 days +23:54:12
85596     5102064   101127163_76213781950_64100       step_2 -1 days +23:59:50
492899    3351016  101143883_71782939078_772553       step_1 -1 days +23:58:41
492898    3351016  101143883_71782939078_772553       step_2 -1 days +23:58:54
482560    1848482   101376317_95333063988_10689       step_1 -1 days +23:54:34
425405    8902430  101430298_69072505500_555518       step_1 -1 days +23:58:16
355404    5437915  101493368_41900702432_344391       step_1 -1 days +23:56:19
111897    8670426  101494772_26515669036_129353       step_3 -1 days +23:59:43
283735    4291645  101532359_33035867768_811946       step_1 -1 days +23:54:27
63017     1497502    101648946_2986090802_45728       step_2 -1 days +23:59:54
46962     1181373   101680890_99989873555_20306       step_1 -1 days +23:20:51
46961     1181373   101680890_99989873555_20306       step_2 -1 days +23:28:23
63373       24572  101834489_14041973684_933577       step_1 -1 days +23:57:19
63627      159268  101943895_86775091670_183092       step_1 -1 days +23:56:53
63626      159268  101943895_86775091670_183092       step_2 -1 days +23:57:11
63625      159268  101943895_86775091670_183092       step_3 -1 days +23:57:21
420196    8205887  101944982_83813434572_150434       step_1 -1 days +23:57:35

In [30]:
df_ps_time

        client_id                      visit_id process_step       diff_time
447950    9056452     1000165_4190026492_760066       step_1 0 days 00:00:03
447949    9056452     1000165_4190026492_760066       step_2 0 days 00:00:24
447948    9056452     1000165_4190026492_760066       step_3 0 days 00:01:17
447947    9056452     1000165_4190026492_760066       step_4 0 days 00:00:37
240557    7338123   100019538_17884295066_43909       step_0 0 days 00:00:49
...           ...                           ...          ...             ...
539055    7149380  999992932_41666455053_671149       step_1 0 days 00:00:21
539054    7149380  999992932_41666455053_671149       step_2 0 days 00:01:08
539072    7149380  999992932_41666455053_671149       step_3 0 days 00:14:14
539071    7149380  999992932_41666455053_671149       step_4 0 days 00:02:22
539070    7149380  999992932_41666455053_671149       step_4 0 days 00:01:26

[374974 rows x 4 columns]

PLOT TRENDS

In [38]:
df_merged = df_ps_time.merge(df_final_experiment_clients, on='client_id', how='left')
df_merged.head(200)

,client_id,visit_id,process_step,diff_time,Variation
0,9056452,1000165_4190026492_760066,step_1,0 days 00:00:03,NaN
1,9056452,1000165_4190026492_760066,step_2,0 days 00:00:24,NaN
2,9056452,1000165_4190026492_760066,step_3,0 days 00:01:17,NaN
3,9056452,1000165_4190026492_760066,step_4,0 days 00:00:37,NaN
4,7338123,100019538_17884295066_43909,step_0,0 days 00:00:49,Test
...,...,...,...,...,...
195,663873,100559681_42553631610_873319,step_1,0 days 00:00:31,Test
196,663873,100559681_42553631610_873319,step_2,0 days 00:00:09,Test
197,663873,100559681_42553631610_873319,step_3,0 days 00:01:36,Test
198,663873,100559681_42553631610_873319,step_4,0 days 00:01:07,Test
199,1545935,10056419_61656665964_803695,step_0,0 days 00:03:56,Test

In [ ]:
#check client that did not participate in the experiment

df_missing_variation = df_merged[df_merged['Variation'].isna()]
print(df_missing_variation.head())  # Show a sample of missing cases
print(f"Total rows missing Variation: {df_missing_variation.shape[0]}")

    client_id                      visit_id process_step       diff_time  \
0     9056452     1000165_4190026492_760066       step_1 0 days 00:00:03
1     9056452     1000165_4190026492_760066       step_2 0 days 00:00:24
2     9056452     1000165_4190026492_760066       step_3 0 days 00:01:17
3     9056452     1000165_4190026492_760066       step_4 0 days 00:00:37
16    5303781  100034012_10293842356_627828       step_0 0 days 00:01:31

   Variation
0        NaN
1        NaN
2        NaN
3        NaN
16       NaN
Total rows missing Variation: 217127

In [ ]:
#check number of clients that dont exist in the both DFs

missing_clients = df_ps_time[~df_ps_time['client_id'].isin(df_final_experiment_clients['client_id'])]
print(f"Clients in df_ps_time but missing in df_final_experiment_clients: {missing_clients.shape[0]}")
print(missing_clients.head())

Clients in df_ps_time but missing in df_final_experiment_clients: 154033
        client_id                      visit_id process_step       diff_time
447950    9056452     1000165_4190026492_760066       step_1 0 days 00:00:03
447949    9056452     1000165_4190026492_760066       step_2 0 days 00:00:24
447948    9056452     1000165_4190026492_760066       step_3 0 days 00:01:17
447947    9056452     1000165_4190026492_760066       step_4 0 days 00:00:37
603155    5303781  100034012_10293842356_627828       step_0 0 days 00:01:31

In [43]:
# drop the clients that dont exist in both

df_merged = df_merged.dropna(subset=['Variation'])
print(f"Remaining rows after removing missing Variation: {df_merged.shape[0]}")
print(df_merged['Variation'].unique())  # Should only show ['Test', 'Control']
df_merged.head(100)

Remaining rows after removing missing Variation: 157847
['Test' 'Control']

,client_id,visit_id,process_step,diff_time,Variation
4,7338123,100019538_17884295066_43909,step_0,0 days 00:00:49,Test
5,7338123,100019538_17884295066_43909,step_0,0 days 00:00:14,Test
6,7338123,100019538_17884295066_43909,step_1,0 days 00:00:23,Test
7,7338123,100019538_17884295066_43909,step_1,0 days 00:00:06,Test
8,7338123,100019538_17884295066_43909,step_1,0 days 00:00:23,Test
...,...,...,...,...,...
252,9956593,100733473_61604582110_215085,step_3,0 days 00:01:57,Control
253,9956593,100733473_61604582110_215085,step_4,0 days 00:01:52,Control
254,5392133,100738555_11362326861_913293,step_1,0 days 00:00:12,Test
255,5392133,100738555_11362326861_913293,step_2,0 days 00:00:49,Test
256,5392133,100738555_11362326861_913293,step_3,0 days 00:03:34,Test